server:
  port: 8084

spring:
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://USER-SERVICE
          predicates:
            - Path=/users/**
#          filters:
#            - AddRequestHeader=X-Gateway-Request, true
#            - AddRequestHeader=Authorization, ${request.headers.Authorization}

        - id: hotel-service
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/hotels/**
#          filters:
#            - AddRequestHeader=X-Gateway-Request, true
#            - AddRequestHeader=Authorization, ${request.headers.Authorization}

        - id: rating-service
          uri: lb://RATING-SERVICE
          predicates:
            - Path=/ratings/**
#          filters:
#            - AddRequestHeader=X-Gateway-Request, true
#            - AddRequestHeader=Authorization, ${request.headers.Authorization}


      discovery:
        locator:
          enabled: false

  config:
    import: optional:configserver:http://localhost:8085/

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    enabled: true
  zipkin:
    endpoint: http://localhost:9411/api/v2/spans
